<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fw800/background/20240325/pngtree-product-presentation-green-cosmetic-podium-background-image_15695091.jpg);">
  <div class="container">
    <h1>Over Majorille Garden</h1>
      <p>Ontdek de magie van de Majorelletuin, waar Marokkaanse tradities en biologische producten voor iedereen toegankelijk zijn!</p>
  </div>
</div>

<div class="text-group">
  <div class="about-img">
    <%= image_tag('majori.jpg') %>
  </div>
  <div>
    <p class="descript">
      Majorrile Garden. Onze producten zijn biologisch en vrij van chemicaliën. Ze worden op traditionele wijze met de hand gemaakt,
       rechtstreeks uit de bron. Ons doel is om iedereen toegang te geven tot echte, biologische producten en een gezonde levensstijl.
    </p>
    <p class="descript">
      We willen zoveel mogelijk mensen blij maken met onze producten, zoals onze arganolie, die zorgt voor een en glanzende huid en haar.
      Daarnaast bieden we natuurlijke behandelingen aan met onze producten, evenals recepten en advies in onze winkel.
      Samen versterken we een gezonde levensstijl.
    </p>
  </div>
</div>
