<div class="banner banner-image2">
  <div class="container">
    <h1>Over Majorille Garden</h1>
      <p>Ontdek de magie van de Majorelletuin, waar Marokkaanse tradities en biologische producten voor iedereen toegankelijk zijn!</p>
  </div>
</div>

<div class="text-group">
  <div class="about-img">
    <%= image_tag('majori.jpg')  %>
  </div>
  <div>
    <p class="descript" style="margin-bottom: 0px; margin-top: 65px;">
      Majorrile Garden. Onze producten zijn biologisch en vrij van chemicaliën. Ze worden op traditionele wijze met de hand gemaakt,
       rechtstreeks uit de bron. Ons doel is om iedereen toegang te geven tot echte, biologische producten en een gezonde levensstijl.
    </p>
    <p class="descript" style="margin-top: 25px;">
    Bij Majorelle Garden staan we voor natuurlijke en biologische verzorging. Geïnspireerd door de prachtige Jardin Majorelle in Marokko,
    bieden wij hoogwaardige producten op basis van arganolie, bekend om zijn heilzame effecten op huid, haar en welzijn. Onze producten zijn duurzaam,
     ethisch geproduceerd en ondersteunen lokale gemeenschappen in Marokko.
    Wat ons uniek maakt, is onze focus op educatie en klantgerichtheid. We leren klanten hoe ze onze producten optimaal kunnen gebruiken en organiseren
     workshops om de voordelen van natuurlijke verzorging te delen.
    Ons doel is om een vertrouwd merk te zijn dat staat voor kwaliteit, duurzaamheid en een gezondere levensstijl. Samen bouwen we aan een wereld waarin
     biologische verzorging centraal staat.
    </p>
  </div>
</div>
