<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fw800/background/20240325/pngtree-product-presentation-green-cosmetic-podium-background-image_15695091.jpg);">
  <div class="container">
    <h1>Over Majorille Garden</h1>
      <p>Ontdek de magie van de Majorelletuin, waar Marokkaanse tradities en biologische producten voor iedereen toegankelijk zijn!</p>
  </div>
</div>
