<div class="banner banner-image" >
  <div class="container" style="display: flex; flex-direction: column; align-items: center">
    <h1>Ontdekken Majorille Garden</h1>
      <p>Ontdek onze verjongende recepten gemaakt van biologische ingrediënten uit het hart van Marokko.</p>
      <a class="btn btn-warning button-3 mt-3" href="/products">Blader door onze selectie</a>
  </div>
</div>
<div class="container text-contain">
  <h2 class="title2">HISTORISCH BEWEZEN PRODUCTEN OM UW LICHAAM TE VERJONGEN</h2>
  <p class="para2">Onze producten bevatten uitsluitend arganolie van natuurlijke oorsprong, rijk aan essentiële vetzuren, vitamine E en natuurlijke antioxidanten.</p>
  <p class="para2">Volgens hetzelfde recept dat al eeuwenlang wordt doorgegeven.</p>
  <p class="para2">Het resultaat? Een verkwikt, stressvrij lichaam en geest.</p>
  <p class="para2">Al onze producten staan ​​bekend om hun therapeutische, nutritionele en cosmetische eigenschappen. Geschikt voor haar, huid en anti-aging doeleinden</p>
  <a class="btn btn-warning button-3 mt-3 mb-5 p-3" href="/products">Bekijk onze collectie</a>
</div>
