<div class="banner3 banner-image3" >
  <div class="container" style="display: flex; flex-direction: column; align-items: center">
    <h1>Ontspan in ons zandbad</h1>
      <p>Ontdek onze verjongende recepten gemaakt van biologische ingrediënten uit het hart van Marokko.</p>
  </div>
</div>
<div class= "sandbath-img"><%= image_tag('zandbad1.jpg') %></div>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit rerum, sed,
   totam earum voluptatum eum nemo esse ipsa maiores non sunt ratione. Suscipit ex modi, provident deserunt natus ratione ipsum?
</p>
