<div class="banner3 banner-image3" >
  <div class="container" style="display: flex; flex-direction: column; align-items: center">
    <h1>Ontspan in ons zandbad</h1>
      <p>Gebruik psammotherapy voor een gevoel van welzijn en ontspanning.</p>
  </div>
</div>

    <p class="descript">
      Psammotherapie, ook bekend als warmzandtherapie, staat bekend om zijn vaardigheid om ontstekingen te verminderen, ontspanning op te wekken en een aantal andere lichamelijke klachten te verlichten.
     Deze eeuwenoude kunst, afkomstig van Berbers uit de Merzouga regio in Marokko, is de ultieme spa-behandeling die aan al je lichamelijke behoeften voldoet.
      Bij Majorille Garden brengen we de zandduinen van Marokko naar u toe. Bel en reserveer een tijd om onze traditionele praktijken te ervaren!
    </p>

<div class="text-group">
  <div>
    <p class="descript" style="margin-top: 70px; margin-bottom: 10px">
      Onze zandtherapie is een unieke behandeling die het lichaam en de geest in balans brengt. De therapie bestaat uit drie stappen en biedt een authentieke ervaring dankzij onze traditionele methodes. Daarnaast kun je tijdens de procedure kiezen uit drie unieke thema’s die de ervaring volledig afstemmen op jouw wensen.


    </p>
    <p class="descript" style="margin-top: 0px; margin-bottom: 10px">

      De Stappen van de Behandeling
    </p>
    <p class="descript" style="margin-top: 0px; margin-bottom: 10px">
      Gezondheidsformulier invullen
      Voor aanvang van de therapie vragen we je een kort gezondheidsformulier in te vullen. Dit stelt ons in staat de behandeling aan te passen aan jouw specifieke behoeften en de optimale voordelen te garanderen.
    </p>
     <p class="descript" style="margin-top: 0px; margin-bottom: 10px">

      15 minuten ontspannen in een zandbad
      Geniet van een rustgevende sessie van 15 minuten in warm zand. Het zand, verwarmd tot een aangename temperatuur, ontspant je spieren, bevordert de bloedcirculatie en stimuleert het ontgiften van je lichaam. Het biedt een diep gevoel van rust en ontspanning.


    </p>
     <p class="descript" style="margin-top: 0px; margin-bottom: 10px">
      5 minuten massage met arganolie
      De behandeling wordt afgesloten met een luxe massage van 5 minuten met onze hoogwaardige Majorille arganolie. Deze olie voedt en hydrateert de huid, stimuleert de bloedsomloop en laat je achter met een zijdezachte huid en een gevoel van welzijn.


    </p>
      <p class="descript" style="margin-top: 0px; margin-bottom: 10px">
      Thema’s naar Keuze
    </p>
     <p class="descript" style="margin-top: 0px; margin-bottom: 10px">

      Woestijn: Aangepaste verlichting met een warme, gouden gloed, een subtiele goudgeur en rustgevende woestijnmuziek.
      Lavendel: Kalmerende lavendelgeur, ontspannende muziek naar keuze en zachte, rustgevende verlichting.
      Cactus: Verfrissende cactusgeur, verlichting op maat en muziek die pijnverlichting ondersteunt.

      Onze zandtherapie is een combinatie van rust, luxe en personalisatie die je volledig laat ontspannen. Kies jouw favoriete thema en geniet van een serene ervaring

    </p>
      <p class="descript" style="margin-top: 0px; margin-bottom: 50px">
      Onze zandtherapie is een combinatie van rust, luxe en personalisatie die je volledig laat ontspannen. Kies jouw favoriete thema en geniet van een serene ervaring

    </p>
  </div>
  <div class="about-img">
    <%= image_tag('zandbad1.jpg')  %>
  </div>
</div>
