.footer {
  background: #FAF7F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-copyright a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  opacity: 1;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.footer .footer-brand img {
  width: 100px;
}
.footer-left {
  display: flex;
  flex-direction: column;
}
.left-link {
  display: flex;
  margin-top: 10px;
}
.info-left {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
#left-tools{
  margin-top: 5px;
  color: rgba(8, 56, 75, 1);
}
