.button-3 {
color: white;
background-color: #C3AD79;
border: none;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
}
 .button-3:hover {
  background-color: #caa650;
  color: white;
  transform: scale(1.01);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
 }
 .title2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  margin-bottom: 16px;
 }
 .para2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  max-width: 600px;
  text-align: center;
  margin-top: 8px;
 }
 .text-contain {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
