.navbar-lewagon {
  justify-content: space-between;
  background: #C3AD79;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.navbar {
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 1000;
}
.navbar>.container-fluid {
  justify-content: space-evenly;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
  margin-left: 20px;
  margin-top: 10px;
}
#logo{
  width: 75px;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}
.nav-half-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}
.nav-link{
  margin-right: 10px;
}
.nav-right{
  margin-right:20px
}
