 <div class="container-show">
   <%= cl_image_tag @product.photo.key, width: 400, crop: :fill %>
   <div class="show-info">
     <h1 class="show-name"><%= @product.name %></h1>
     <p class="show-price"><strong>$<%= @product.price %></strong></p>
    <a class="btn btn-outline-warning button-4 mt-3 " href="">Add to cart</a>
    <p class="show-description"><%= @product.description %></p>
    <div style="display: flex;">
      <i style="color: rgba(8, 56, 75, 1);" class="fa-solid fa-circle-check mt-1"></i>
      <p class="ms-2 show-description" style="color: black;">In stock</p>
    </div>
   </div>
 </div>
